
<h1>Hola mundo!</h1>
<!-- Doble llaves indica que en este punto, el codigo va a ser interpretado mediante JS. Por lo tanto podremos usar
funciones del mismo lenguaje dentro de las mismas. Esto es lo que se conoce como String interpolation -->
<p>{{ 'Este texto está siendo renderizado por Angular - '.repeat(5) }}</p>
<p>3 + 3 = {{ 3+3 }}</p>

<!-- Otra cosa muy útil es renderizar variables declaradas dentro del bloque export para que puedan ser usadas aquí.-->
<h3>Mi nombre es {{name}} y mi edad es {{age}}</h3>
<img src="{{imgSource}}">

<router-outlet></router-outlet>
