<h1>String interpolation</h1>

<h2>Hola mundo!</h2>
<!-- Doble llaves indica que en este punto, el codigo va a ser interpretado mediante JS. Por lo tanto podremos usar
funciones del mismo lenguaje dentro de las mismas. Esto es lo que se conoce como String interpolation -->
<p>{{ 'Este texto está siendo renderizado por Angular - '.repeat(5) }}</p>
<p>3 + 3 = {{ 3+3 }}</p>

<!-- Otra cosa muy útil es renderizar variables declaradas dentro del bloque export para que puedan ser usadas aquí.-->
<h3>Mi nombre es {{name}} y mi edad es {{age}}</h3>
<img src="{{imgSource}}" width="200" height="150">

<hr/>

<h1>Property binding</h1>

<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name"/>
<progress max="130" [value]="person.age"></progress>
<img width="100" height="75" [src]="imgSource"/>
<hr/>

<h1>Event binding</h1>

<button (click)="toggleButton()">Prender/apagar</button>
<button (click)="increaseAge()">Agregar años</button>
<div class="box" (scroll)="onScroll($event)">
  <p>String Interpolation es una solución rápida en la cuál podremos renderizar en nuestro objeto destino (archivo html) lógica implementada en Javascript. Para ello es necesario cubrir un sector, dentro de nuestro html, con un bloque en doble llave. El código que se incluya dentro no será interpretado como html, sino como Javascript. Esto quiere decir que dentro vamos a poder usar funciones propias del lenguaje, como también plasmar atributos que están dentro de nuestro component.ts.
    Property Binding, por otro lado, es una forma de controlar dinámicamente algunos atributos html para que estos sean renderizados a partir de una string, variable o atributo de un objeto de la capa lógica. Solo funcionan en una dirección desde la capa lógica (component.ts) al objeto destino (atributo html), a esto se le conoce como flujo de datos.
  </p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>

<h1>ngModel</h1>
<p>Nombre: {{ person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>

<p>Edad: {{ person.age}}</p>
<input type="number" required min="15" max="130" #ageInput="ngModel" [(ngModel)]="person.age"/>
<p>Valid: {{ageInput.valid}}</p>

<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'lucas'">Buenos días, soy Lucas</p>

<P *ngIf="person.name == 'lucas';then thenMyBlock else otherElseMyBlock"> Esto es una prueba Angular</P>
<ng-template #thenMyBlock>
  <p>Es un día excelente...</p>
</ng-template>
<ng-template #otherElseMyBlock>
  <p>No sos Lucas 😡</p>
</ng-template>

<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newWord"/>
<button (click)="addSomething()">Agregar elemento</button>
<ul>
  <li *ngIf="emojis.length === 0">No hay elementos</li>
  <li *ngFor="let e of emojis; index as i">
    {{i}} {{e}}
    <button (click)="deleteSomething(i)">Borrar</button>
  </li>
</ul>

<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let p of products">
    <img [src]="p.image" alt="img" width="200" height="150"/>
    <h3>Precio: ${{p.price}}</h3>
    <p>{{p.name}}</p>
  </div>
</div>

<h1>*ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name"/>
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'Lucas'">
      El nombre el Lucas
  </p>
  <p *ngSwitchCase="'Cams'">
      El nombre el Cams
  </p>
  <p *ngSwitchCase="'Coco'">
      El nombre el Coco
  </p>
  <p *ngSwitchDefault>
      No hay ningún nombre que coincida
  </p>
</div>

<router-outlet></router-outlet>
